* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    font-family: sans-serif;
    line-height: 1.4;
  }
  .product-image
  {
/* float:left; */
margin-top:20px;
/* margin-right: 40px; */
  }
  .container {
    border: 2px solid #7f7f7f;
    width: 825px;
    margin: 50px auto;
    position: relative;
   
  }
  .product-title {
    text-align: center;
    text-transform: uppercase;
    background-color: #f7f7f7;
    font-size: 22px;
    padding: 15px;
  }
  
  .shipping {
    font-weight: bold;
    color: #777;
    font-size: 12px;
    text-transform: uppercase;
   
    /* float:right;
    margin-top: 8px; */
  }
  button {
    background-color: black;
    border: none;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    border-top: 4px solid black;
  }
  .product-description
  {
    /* clear:both; */
    margin-bottom:10px;
  }
  button:hover {
    color: #7f7f7f;
    background-color: #fff;
    width: 100%;
  }
  p {
    color: black;
  }
  .price {
    font-size: 20px;
    /* margin-bottom: 15px;
    float:left; */
  }
  .more:link ,more:visited{
    color: black;
    display:inline-block;
    margin-bottom: 30px;
  }
  .more:hover,
  .more:active {
    text-decoration: none;
  }
  .color
  {
    background-color: #000;
    height:22px;
    width:22px;
    /* display:inline-block; */
    /* margin-right: 10px; */
  }
  .product-color
  {
    display: flex;
    gap:10px;
  }
  .color-blue
  {
    background-color: #2f6ee2;
  }
  .color-red
  {
background-color: #ec2f2f;
  }
  .color-yellow
  {
    background-color: #f0bf1e;
  }
  .color-green
  {
    background-color: #90cc20;
  }
  .color-brown
  {
    background-color:#885214 ;
  }
  .product-info
  {
    /* (825-8-250-80)/2*/
/* 
    width:243px; */
    /* float:left; */
    /* margin-right: 40px; */
    margin-top:20px;
    flex:1
    

  }
  .cont1
  {
    display:flex;
    gap:40px;
    flex: 1;
  }
  .details-title {
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 15px;
    margin-top: 25px;
  }
  
  .details-list {
    list-style: square;
    margin-left: 20px;
  }
  .details-list li {
    margin-bottom: 10px;
  }
  .details-list li:last-child {
    margin-bottom: 0;
  }
  h1::after
  {
    padding: 5px;
    content: "Sale";
    position: absolute;
    top:-15px;
    left:-25px;
    background-color: #ec2f2f;
    font-weight: Bold;
    font-size: 12px;
    border: 2px ;
    text-transform:uppercase;
    letter-spacing: 2px;
  }
 .product-details
 {
  /* width:243px;
  float: right; */
  flex:1;
 }
 .product-price
 {
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 20px;

 }